<section class="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
       <h2>What's Going On</h2>
        <p>The United Church is a vibrant and active place! To learn about our upcoming events and activities, click on the boxes below.</p>
      </div>
    </div>
  <div class="row">
    <!-- Worship -->
      <div  onclick="location.href='https://uccdga.churchcenter.com/calendar';" style="cursor: pointer;" class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="fas fa-calendar-alt"></i>
          <h4>Calendar</h4>
          <p>See live updates for events and activities at The United Church.</p>
        </div>
      </div>
    <!-- Grow -->
      <div onclick="location.href='https://uccdga.churchcenter.com/pages/bulletins';" style="cursor: pointer;" class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="fas fa-list-alt"></i>
          <h4>Bulletins</h4>
          <p>A weekly publication that includes announcements, an order of worship. Great to use when watching a service online.</p>
        </div>
      </div>
    <!-- Reach -->
      <div onclick="location.href='https://uccdga.churchcenter.com/pages/bulletins';" style="cursor: pointer;" class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="fas fa-newspaper"></i>
          <h4>Lamplighter</h4>
          <p>A monthly publication that includes articles about events and happenings at The United Church.</p>
        </div>
      </div>
    <!-- Care -->
      <div onclick="location.href='/contact';" style="cursor: pointer;" class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="fas fa-phone-volume"></i>
          <h4>Contact</h4>
          <p> If you don’t see what you’re looking for or have questions, please contact us. </p>
        </div>
      </div>
    </div>
  </div>
</section>
