<section class="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
       <h2>Who We are at The United Church</h2>
        <p>The United Church is a strong community of Christians who seek to glorify God. </br> We seek to do this in a number of ways</p>
      </div>
    </div>
  <div class="row">
    <!-- Worship -->
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="fas fa-praying-hands"></i>
          <h4>Worship</h4>
          <p>We worship the Triune God in Spirit and Truth (John 4:24). Worship involves submitting ourselves to God as the Spirit empowers us.</p>
        </div>
      </div>
    <!-- Grow -->
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="fas fa-seedling"></i>
          <h4>Grow</h4>
          <p>We must grow in our faith, training ourselves to distinguish good from evil. (Hebrews 5:11-6:2, 1 Peter 2:2, 1 Corinthians 3:1-3)</p>
        </div>
      </div>
    <!-- Reach -->
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="fas fa-hands-helping"></i>
          <h4>Reach</h4>
          <p>Jesus sends his followers out on mission for God. We must carefully discern how God might call us to invite others into His Kingdom. (Luke 10:1-20, John 20:21)</p>
        </div>
      </div>
    <!-- Care -->
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="fas fa-people-carry"></i>
          <h4>Care</h4>
          <p>As a Christian family, we must bear one another's burdens (Galatians 6:2). Walking alongside each other to meet spiritual and physical needs is at the center of who we are.
</p>
        </div>
      </div>
    </div>
  </div>
</section>
