{{ define "main" }}

{{ partial "page-title.html" . }}


<section class="service-about section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

      <div class="col-md-4 col-sm-6 col-xs-12">
        <a href="https://podcasts.apple.com/us/podcast/the-united-church-of-canandaigua/id1691871803"><img src="/images/podcast/applepodcasts-badge.svg"></a>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <a href="https://open.spotify.com/show/49bvrimXMZ5mo8LuHjOVsi"><img src="/images/podcast/spotify-badge.svg"></a>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <a href="https://www.google.com/podcasts?feed=aHR0cHM6Ly9tZWRpYS5yc3MuY29tL3VjY2RnYS9mZWVkLnhtbA%3D%3D"><img src="/images/podcast/googlepodcasts-badge.svg"></a>
      </div>


      </div>
    </div>
  </div>
</section>




{{ end }}
